@model Employee


<table class="table" border="1">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fullname</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">DepartmentId</th>
        </tr>
    </thead>
    <tbody>

        
            <tr>
                <td>@Model.Id</td>
                <td>@Model.FullName</td>
                <td>@Model.Age</td>
                <td>@Model.Salary</td>
                <td>@Model.DepartmentId</td>
            </tr>

        


    </tbody>
</table>
